doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='static/css/style_login.css')
  body
    #imagen
      img(src='../static/img/logo.JPG' alt='')
    p Registrarse en Soe
    section#formulario
      form(method='POST')
        label(for='email') Email
        br
        input(type='text' id='email' required autocomplete="off" autofocus)
        br
        label(for='password') Contraseña
        br
        input(type='text' id='password' required)
        br
        input#btn(type='submit' value='Acceder')
    .new
      | ¿Nuevo en Soe? 
      a(href='/register') Crear una cuenta
    footer
      ul
        li &copy; Todos los derechos reservados
